{% extends 'actualite/listesActualite.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/pc/Desktop/3A/projet PIDEV/BadBud/src/Controller/ActualiteController.php</code></li>
        <li>Your template at <code>C:/Users/pc/Desktop/3A/projet PIDEV/BadBud/templates/actualite/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
