{% extends 'base.html.twig' %}

{% block title %}New Traits{% endblock %}

{% block body %}
    <h1>Create new Traits</h1>

    {{ include('trait/_form.html.twig') }}

    <a href="{{ path('app_trait_index') }}">back to list</a>
{% endblock %}
