{% extends 'base.html.twig' %}

{% block title %}New NFT{% endblock %}

{% block body %}
    <h1>Create new NFT</h1>

    {{ include('dashboard_nft/_form.html.twig') }}

    <a href="{{ path('app_dashboard_n_f_t_index') }}">back to list</a>
{% endblock %}
