{% extends 'basefront.html.twig' %}

{% block title%} edit project {% endblock %}


{% block content%}

    <a href="{{ path('app_projects') }}">back to list</a>
    

    {{include('projects/form.html.twig', {'button_label': 'update'})}}


{% endblock %}