{% extends 'basefront.html.twig' %}

{% block title %} Project {% endblock %}

{% block content %}

<div class="rn-collection-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <!-- start single collention -->
            <!-- End single collention -->

        </div>
        <div class="row">
            <div class="col-lg-12" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                <nav class="pagination-wrapper" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}
